/*ini css*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/Logo-Imev.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}